body.modal-opened{
  overflow:hidden;
  position: fixed;
  width: 100%;
}

[data-modal-content]{
  display: none;
}

.c-modal{
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  display: none;
  &.is-open{
    display: block;
  }

  &[aria-hidden="false"] {
    .c-modal__overlay {
      animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
    .c-modal__container {
      animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
    }
  }

  &[aria-hidden="true"]{
    .c-modal__overlay {
      animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }
    .c-modal__container {
      animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
    }
  }
  .c-modal__container, .c-modal__overlay{
    will-change: transform;
  }
  &__overlay {
    position: fixed;
    z-index: 10000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* uncomment both to scroll outside the modal */
    overflow-y: auto; /* uncomment both to scroll outside the modal */
    &.transparent{
      background: transparent
    }
  }
  &__container {
    position: absolute;
    background-color: #fff;
    padding: 30px;
    width: calc(100% - 20px);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    /* max-height: 100vh; comment to scroll outside the modal */
    max-height: none; /* uncomment both to scroll outside the modal */
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
    top: 50px;
    left: 0;
    right: 0;
  }
  &__close {
      background: transparent;
      position: absolute;
      cursor: pointer;
      color: #737373;
      font-size: 14px;
      right: 12.5px;
      top: 10px;
      border: 0;
      &:before {
          content: "\2715";
      }
  }

  .c-modal__overlay.transparent .c-modal__container{
    box-shadow: 10px 10px 33px 6px rgba(0,0,0,0.58);
  }
}

 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .c-modal__container {
        width: 500px;
        max-width: none;
    }
}

/* Animations */
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}
